/* Matthew Cooper */
/* 8 Feb 2021 */

#skills {
    display: grid;
    grid-template-rows: repeat(2, 0fr);
    grid-template-columns: repeat(2, 50%);
}

#skills-header {
    grid-column: 1 /span 2;
    background-color: darkgoldenrod;
    font-family: "Times New Roman", serif;
}

.program-skills {
    background-color: #ff5722;
    color: maroon;
    border: solid 10px maroon;
    font-family: Bahnschrift, serif;
    font-size: large;
}

.soft-skills {
    background-color: black;
    color: white;
    border: solid 10px dimgrey;
    font-family: Bahnschrift, serif;
    font-size: large;
}

.skills-wrapper {
    border: solid darkgreen 10px;
}
