html {
    background-image: linear-gradient(to bottom right, #b7410e, black);
}

body {
    color:  gold;
}

img {
    border-radius: 50%;
    width: 10vw;
    opacity: 25%;
}

tr {
    font-size: 3vw;
}

label {
    font-size: 4vw;
    padding: 3vw 0 0 0;
}

input {
    font-family: inherit;
    font-size: 8vw;
    border: none;
    font-weight: bolder;
    pointer-events: none;
    background-color: transparent;
    padding: 0 0 0 3vw;
    color:  inherit;
    width: 30%;
    -moz-appearance: textfield;
}

input:focus,
input:focus-within {
    visibility: hidden;
}

input::selection {
    background-color: transparent;
}

table, td {
    border: 2vw transparent solid;
    border-collapse: collapse;
}

button {
    font-family: inherit;
    font-size: 3vw;
    padding: 1vw;
    border: none;
    border-radius: 20px;
    color: inherit;
    background-color: black;
}

button {
  border-radius: 4px;
  background-color: black;
  border: none;
  color: inherit;
  text-align: center;
  padding: 16px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.container {
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.active {
    opacity: 100%;
}